# Supabase PostgreSQL Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?sslmode=require&prepareThreshold=0
SPRING_DATASOURCE_USERNAME=postgres.noxbrnwxbfcqacpnaayf
SPRING_DATASOURCE_PASSWORD=Dairymilk@123
